<h1 mat-dialog-title>Truck Assignment</h1>


      <form [formGroup]="myForm">
        

        <div class="form-group text-left">
          <label for="truckId">Enter the Truck ID to be assigned</label>
          
            <input formControlName="truckId" type="text" class="form-control">
          
        </div>
            
        <br>   
            <button mat-button (click)="addTransaction(myForm);" type="submit"  data-dismiss="modal"  [mat-dialog-close]="true">Confirm</button>
        
      </form>
   