    
<h1 mat-dialog-title>Provide the Container Details Below :</h1>


  
<form [formGroup]="myForm">
    <div class="modal-body">


      

        
          <div class="form-group text-left">
            <label for="truckId">Enter the Truck ID</label>
            
              <input formControlName="truckId" type="text" class="form-control">
            
          </div>
        
      

        
          <div class="form-group text-left">
            <label for="normalWeight">Initial Normal Weight</label>
            
              <input formControlName="normalWeight" type="number" class="form-control">
            
          </div>
        
      

        
          <div class="form-group text-left">
            <label for="fragileWeight">Initial Fragile Weight</label>
            
              <input formControlName="fragileWeight" type="number" class="form-control">
            
          </div>
        

      
              
          <div class="form-group text-left">
          <input matInput [matDatepicker]="picker" placeholder="Schedule of the Truck"  formControlName="schedule" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        
          <div align="center" height="60" width="60">
              <mat-spinner [diameter]="63" *ngIf = "spinner == 'aa'"></mat-spinner>  
          </div>
   

<p style="color: red">{{errorMessage}}</p>
<p style="color: green">{{successMessage}}</p>
        
      

    </div>
 
    <br>

<div align="center">  <button mat-raised-button (click)="addTransaction(myForm);" type="submit"  data-dismiss="modal" >Confirm</button></div>

  </form>