    
<h1 mat-dialog-title>Provide the Container Details Below :</h1>


  
<form [formGroup]="myForm">
    <div class="modal-body">


      

        
          <div class="form-group text-left">
            <label for="truckId">Enter the Truck ID</label>
            
              <input formControlName="truckId" type="text" class="form-control">
            
          </div>
        
      

        
          <div class="form-group text-left">
            <label for="normalWeight">Initial Normal Weight</label>
            
              <input formControlName="normalWeight" type="number" class="form-control">
            
          </div>
        
      

        
          <div class="form-group text-left">
            <label for="fragileWeight">Initial Fragile Weight</label>
            
              <input formControlName="fragileWeight" type="number" class="form-control">
            
          </div>
        

      
              
          <div class="form-group text-left">
          <input matInput [matDatepicker]="picker" placeholder="Schedule of the Truck"  formControlName="schedule" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        
      

        
      

    </div>
    <div class="modal-footer">

        <button mat-raised-button (click)="addTransaction(myForm);" type="submit"  data-dismiss="modal" [mat-dialog-close]="true">Confirm</button>
    </div>
  </form>