<h1 mat-dialog-title>Are you sure?</h1>


      <form [formGroup]="myForm">
        

        <p style="color:red"><b>Warning ! Once cleared for truck assignment, new shipments cannot be added into the container!</b></p>
            <br>
        <p style="color: red">{{errorMessage}}</p>
<p style="color: green">{{successMessage}}</p>

        <br>     <br>

        <div align="center" height="60" width="60">
                <mat-spinner [diameter]="63" *ngIf = "spinner == 'aa'"></mat-spinner>  
            </div>

            <br>
            <div align="center">
                    <button mat-button (click)="addTransaction(myForm);" type="submit"  data-dismiss="modal" >Confirm</button>
            </div>
           
        
      </form>
   