<h1 mat-dialog-title>Are you sure?</h1>


      <form [formGroup]="myForm">
                   
<br>
        <div align="center" height="60" width="60">
                  <mat-spinner [diameter]="63" *ngIf = "spinner == 'aa'"></mat-spinner>  
              </div>
       

        <p style="color: red">{{errorMessage}}</p>
<p style="color: green">{{successMessage}}</p>

<br>
<div align="center">   <button mat-button (click)="addTransaction(myForm);" type="submit"  data-dismiss="modal">Confirm</button></div>
         
        
      </form>
   