<!DOCTYPE html>
<html>
<head>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
		<!-- Bootstrap core CSS -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<!-- Material Design Bootstrap -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">


<style>
.fizz {
  max-width: 600px;
  height: 400px;

}
</style>
</head>
<body>

<br><br><br>

<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
		<div class ="fizz">
		<!---All The Code Goes in Here -->
		<!-- Card -->
<div class="card card-cascade wider reverse">

		<!-- Card image -->
		<div class="view view-cascade overlay">
		  <img class="card-img-top" src="https://cdn.dribbble.com/users/342971/screenshots/4053746/archdaily_explainer_mezzolan.gif" alt="Card image cap" height="450px" weight="700">
		  <a routerLink="/Truck">
			<div class="mask rgba-white-slight"></div>
		  </a>
		</div>
	  
		<!-- Card content -->
		<div class="card-body card-body-cascade text-center">
	  
		  <!-- Title -->
		  <h4 class="card-title"><strong>Manage Trucks</strong></h4>
		  <!-- Subtitle -->
		
		  <!-- Text -->
		  <p class="card-text">
			  Here you can add new truck resources to your business. You can also track the number of containers and their weight carried by each of the truck.
		  </p>
	  
		</div>
	  
	  </div>
	  <!-- Card -->
		
		<!--   -->

		</div>



		<div class ="fizz">
				<!---All The Code Goes in Here -->
				<!-- Card -->
				<div class="card card-cascade wider reverse">

						<!-- Card image -->
						<div class="view view-cascade overlay">
						  <img class="card-img-top" src="https://cdn.dribbble.com/users/34556/screenshots/3402905/boxes.gif" alt="Card image cap" height="450px" weight="700">
						  <a routerLink="/Container">
							<div class="mask rgba-white-slight"></div>
						  </a>
						</div>
					  
						<!-- Card content -->
						<div class="card-body card-body-cascade text-center">
					  
						  <!-- Title -->
						  <h4 class="card-title"><strong>Manage Containers</strong></h4>
						  <!-- Subtitle -->
						
						  <!-- Text -->
						  <p class="card-text">
							  Here you can add new container resources to your business. You can load shipments into each of the container and finally allot them to the truck for the export.
						  </p>
					  
						</div>
					  
					  </div>
			  <!-- Card -->
				
				<!--   -->
		
				</div>

</div>




</body>
</html>
	